{% extends 'jobseeker/base.html' %}
{% block content %}
<h1><center>Your JOB Search Ends Here</center></h1>
<p><ul>
<li>Know your career goals.</li>
<li>Plan ahead.</li>
<li>Get resume and cover letter help.</li>
<li>Use all job search resources.</li>
<li>Customize your resume.</li>
<li>Research companies.</li>
<li>Apply with confidence.</li>
<li>Schedule informational interviews.</li>
</ul>
<div class="topnav">
	<input type="text" placeholder="Search..">
</div>
</p>
{% endblock %}